<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard | Article</title>
    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">RJ LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <% if(user) { %>
                <li class="nav-item active">
                    <a class="nav-link"><%= user.email %></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <% } else { %>
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h2 class="my-2">Article By Id's</h2>
        <div class="row">
            <div class="col-xl-12">
                <div class="card mt-2 mb-3">
                    <div class="card-header">
                        <h4 class="m-0"><%= posts.title %></h4>
                    </div>
                    <div class="card-body">
                        <img src="../../<%= posts.articleImage %>" alt="<%= posts.articleImage %>" class="img-fluid" />
                        <p class="m-0"><%= posts.text %></p>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <label class="m-0"><strong class="text-muted">Posted On:
                            </strong><%= posts.dateCreated.toLocaleDateString() %></label>
                        <div>
                            <button class="btn btn-success btn-sm">Edit</button>
                            <a href="/dashboard/post" class="btn btn-sm btn-info">All Articles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Scripts -->
    <script src="../../js/jQuery-3.5.1.js"></script>
    <script src="../../bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>

</html>